extends layout

block navigation
	+breadcrumb('cameras')

block content
	.page-header
		.status-indicator
		span.camera-title
	.video-window
		.video-container
			.video-overlay
				.camera-navigation-control
					i.fa.fa-3x.fa-chevron-up.up
					i.fa.fa-3x.fa-chevron-left.left
					i.fa.fa-3x.fa-chevron-right.right
					i.fa.fa-3x.fa-chevron-down.down
				.camera-status
					i.fa.fa-5x.fa-spinner.fa-spin.camera-load-button
					i.fa.fa-5x.fa-play.camera-play-button
			.dock-right
				//- .dock-top.camera-control-panel
					i.fa.fa-2x.fa-expand.fullscreen
				.dock-center.camera-control-panel
					i.fa.fa-2x.fa-plus.zoom-in
					i.fa.fa-2x.fa-minus.zoom-out
			.dock-bottom
				.camera-control-panel
					i.fa.fa-pause.pause
					i.fa.fa-2x.fa-camera.snapshot
					i.fa.fa-2x.fa-expand.fullscreen
			#player
	.clearboth
		p.status
		select#berths
		.btn.btn-success.savecamerapos Gem position
		.btn.btn-success.loadcamerapos Hent position
	.clearboth


block scripts
	//- - var uri = camera.uri;
		- var slash = uri.lastIndexOf("/");

		script.
			var config = {
				slug: "#{camera.slug}",
				url:  "#{uri.substr(0, slash)}",
				stream: "#{uri.substr(slash + 1)}",
				cameraId: "#{camera._id}",
				enabled: #{camera.enabled}
			}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/flowplayer/flowplayer-3.2.13.min.js")
	script(src="/javascripts/utils.js")
	script(src="/javascripts/player.js")
	script(src="/javascripts/camera.js")
	script(src="/javascripts/camera-page.js")
